@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.ff-poppins{
    font-family: 'Poppins', sans-serif;
}
.btn-custom{
    background-color: #B68C5A !important;
    color: white !important;
}